{{#partial "titulo-css" }}
    <title>Borrar cuenta</title>
    <link rel="stylesheet" href="/css/styles_deleteConfirmation.css">
{{/partial}}



{{#partial "contenido" }}
    <div class="container">
        <h1 class="center-label">ELIMINAR CUENTA</h1>
        <h2 class="center-label">¿Desear eliminar la cuenta realmente?</h2>

        <form id="comunidadForm" method="POST" action="/miembro/eliminar" class="button-form">
            <button type="submit">Sí</button>
        </form>

        <form id="comunidadForm" method="GET" action="/home" class="button-form">
            <button type="submit">No</button>
        </form>
    </div>
{{/partial}}




{{> templates/navbar }}