<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="icon" href="/imagenes/check.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles_inicioSesion.css">


</head>
<body>
    <div class="container">
        <div class="logo-container">
            <img src="/imagenes/logo.png" alt="Logo de tu sitio" class="logo">
        </div>
        <form id="loginForm" action="/login" method="POST">
            <div class="input-container">
                <label for="usuario"><b>Usuario</b></label>
                <input
                    type="text"
                    placeholder="Ingrese su usuario"
                    name="usuario"
                    id="usuario"
                    required
                />
            </div>

            <div class="input-container">
                <label for="contrasenia"><b>Contraseña</b></label>
                <input
                    type="password"
                    placeholder="Ingrese su contraseña"
                    name="contrasena"
                    id="contrasena"
                    required
                />
            </div>

            <button type="submit">
                Iniciar Sesión
            </button>

            <div class="error-message" id="error-message">{{error}}</div>
        </form>

        <form id="registro" action="/sign-up" method="GET">
            <button type="registro">
                Registrarse
            </button>
        </form>

        <!--<button type="registro" onclick="redirigirAPagina()">Registrarse</button>-->

        <!--<a href="/sign-up">Registrarse</a>-->

    </div>


</body>
</html>
<!--

<script>
    function redirigirAPagina() {
        // Cambiar la ubicación de la página a la URL deseada
        window.location.href = '/sign-up';
    }
</script>-->
