{{#partial "titulo-css" }}
    <title>Crear entidad</title>
    <link rel="stylesheet" href="/css/styles_registroComunidad.css">
{{/partial}}


{{#partial "contenido" }}
<div class="container">

    <h1 class="center-label">Creacion entidades</h1>
    <form id="comunidadForm" method="POST" action="/entidades">

        <div class="input-container">
                <label for="nombre">Nombre</label>
                <input
                        type="text"
                        name="nombre"
                        placeholder="Ingrese el nombre de la entidad"
                        name="nombre"
                        id="nombre"
                        required
                />
        </div>

        <div class="input-container">

            <label for="descripcion">Descripción</label>
            <textarea
                id="descripcion"
                name="descripcion"
                rows="4"
                placeholder="Ingrese la descripción de la entidad"
            ></textarea>
        </div>

        <div class="input-container">
            <label for="prestadora"><b>Prestadora</b></label>
            <select id="prestadora" name="prestadora" class="custom-select">

                <!--Aca la idea es traernos las opciones del back para mostrar-->

                <option value="" disabled selected>Seleccione la prestadora</option>

                {{#each prestadoras}}
                    <option value="{{this.idPrestadora}}">{{this.nombre}}</option>
                {{/each}}

            </select>
        </div>

        <div class="input-container">
            <label for="localizacion"><b>Localización</b></label>
            <select id="localizacion" name="localizacion" class="custom-select">

                <!--Aca la idea es traernos las opciones del back para mostrar-->

                <option value="" disabled selected>Seleccione una establecimiento</option>
                <!-- TODO: debería haber un each -->
                <option value="Estación Medrano">Estacion Medrano</option>
                <option value="Estación Caseros">Estacion Caseros</option>
            </select>
        </div>

        <button type="submit">Crear entidad</button>
    </form>

</div>
{{/partial}}




{{> templates/navbar }}