{{#partial "titulo-css" }}
    <title>Crear establecimiento</title>
    <link rel="stylesheet" href="/css/styles_registroComunidad.css">
{{/partial}}


{{#partial "contenido" }}
<div class="container">

    <h1 class="center-label">Creacion establecimientos</h1>
    <form id="comunidadForm" method="POST" action="/establecimientos">

        <div class="input-container">
                <label for="nombre">Nombre</label>
                <input
                        type="text"
                        name="nombre"
                        placeholder="Ingrese el nombre del establecimiento"
                        name="nombre"
                        id="nombre"
                        required
                />
        </div>

        <div class="input-container">
            <label for="entidad"><b>Entidad</b></label>
            <select id="entidad" name="entidad" class="custom-select">

                <!--Aca la idea es traernos las opciones del back para mostrar-->

                <option value="" disabled selected>Seleccione la entidad</option>

                {{#each entidades}}
                    <option value="{{this.idEntidad}}">{{this.nombre}}</option>
                {{/each}}

            </select>
        </div>

        <button type="submit">Crear establecimiento</button>
    </form>

</div>
{{/partial}}




{{> templates/navbar }}