{{#partial "titulo-css" }}
    <title>ServiceNow</title>
    <link rel="stylesheet" href="/css/styles_home.css">
{{/partial}}


{{#partial "contenido" }}

    <!--ACA ABAJO HACER HOME-->
    <div class="titulo">
        <h1>¡Bienvenido a ServiceNow!</h1>
    </div>

    <div class="cuerpo-home">
        <h2>
            Nos complace darte la bienvenida a nuestra plataforma dedicada a mejorar la experiencia de las personas con movilidad reducida.<br><br>
            En ServiceNow, creemos en la importancia de la accesibilidad y la inclusión, y queremos facilitar la vida de aquellos que enfrentan desafíos de movilidad en su día a día.<br><br>

            Nuestra plataforma te brinda la oportunidad de unirte a comunidades específicas, ya sea en tu localidad, facultad, banco o estación de tren.<br>
            Estas comunidades son espacios donde puedes conectar con otras personas que comparten tus experiencias y desafíos.<br><br>

            Una característica fundamental de ServiceNow es la posibilidad de reportar incidentes. Cuando un servicio en tu comunidad no está disponible por alguna razón,
            puedes informarlo a través de nuestra plataforma. Esto permite una respuesta rápida y eficaz para solucionar los problemas y mejorar la accesibilidad en tu entorno.<br><br>

            Estamos emocionados de tenerte en ServiceNow y esperamos que esta plataforma sea una herramienta valiosa para ti y para la comunidad en general.<br><br>
            Juntos, podemos hacer la diferencia y construir un mundo más inclusivo para todos.
        </h2>
        <img src="/imagenes/movilidad-reducida.png" alt="Movilidad Reducida">
    </div>

    <footer class="footer">
        <p>Seguinos en nuestras redes</p>

        <div class="redes-sociales">
            <a href="https://www.instagram.com/"><img src="/imagenes/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/"><img src="/imagenes/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com/JMilei"><img src="/imagenes/twitter.png" alt="Twitter"></a>
        </div>
    </footer>
{{/partial}}

{{> templates/navbar }}